<div class="col-md-10 offset-md-1"> 
    <div class="jumbotron">

        <h1 class="display-10">Hello User !</h1>
        <h3> Test IF you are an extrovert, introvert or ambivert? </h3>
        <p class="lead"> Answer some questions, created by expert psychologists, and check Your Personality Trait </p>
        <hr class="my-4">
        <%= link_to 'Start Test', tests_new_path, class:"btn btn-primary" %>
        
        
    </div>
</div>